<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtqwkRuubkTNL0odohzL3xbcBRelOs0yg</string>
	<key>GCM_SENDER_ID</key>
	<string>279938936500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.compan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>goods-shipping-company</string>
	<key>STORAGE_BUCKET</key>
	<string>goods-shipping-company.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279938936500:ios:5a8cc030c06417ae22b1e1</string>
</dict>
</plist>